	<?php



			<?php
			// TODO CHECK
				if( isset( $flashError ) && !empty( $flashError ) ){
			?>
					<div class="updated settings-error">
						<p><strong><?php echo $flashError;?></strong></p>
					</div>
			<?php
				}
			?>



			<div id="poststuff" class="postbox-container meta-box-sortables">
				<form action="options.php" method="post">
				<?php settings_fields('arez_plugin_options'); ?>
				<?php do_settings_sections('arez_plugin'); ?>
				<input name="Submit" type="submit" value="Save Changes" class="button button-primary" />
				<a class="button button-primary" href="options-general.php?page=arez_plugin&a=import">
					<?php _e("Import WebBookers",'arez');?>
				</a>
				</form>
				<br/>
				<br/>
				<form action="options-general.php?page=arez_plugin" method="post">
				<?php

					//TODO verify auth before we show this
					if( isset( $options['username'] ) && isset( $options['password'] )  ){
					
						if(isset( $_REQUEST['a'] ) && $_REQUEST['a'] === 'import'){
						?>
							<div id="webbookers" class="postbox"  style="width: 50%">
								<h3>
									<span><?php _e("Select Which WebBooker's To Import",'arez');?></span>
								</h3>
								<div class="inside">
									<table class="wp-list-table widefat fixed">
										<thead>
											<tr>
												<th width="10%"><?php _e("Select",'arez');?></th>
												<th width="10%"><?php _e("ID",'arez');?></th>
												<th width="80%"><?php _e("Name",'arez');?></th>
											</tr>
										</thead>
										<tfoot>
											<tr>
												<th width="10%"><?php _e("Select",'arez');?></th>
												<th width="10%"><?php _e("ID",'arez');?></th>
												<th width="80%"><?php _e("Name",'arez');?></th>
											</tr>
										</tfoot>
										<tbody>
											<?php
												$webbookers = get_posts( array( 'post_type'=>'webBooker', 'numberposts'=>-1, 'post_status'=>'publish' ) );
												$i = 0;
												foreach($_webbookers as $wb){
													if( 'publish' != $wb['post_status']) continue;
											?>
												   <tr>
													 <td><input type="checkbox" name="wbID[<?php echo $i;?>]" value="<?php echo $wb['ID'];?>"></td>
													 <td><?php echo $wb['ID']; ?></td>
													 <td><?php echo $wb['post_title']; ?> </td>
												   </tr>
										   <?php
													$i++;
												}
											?>
										</tbody>
									</table>
									<br/>
									<button class="button button-primary" name="a" value="import_finish">
										<?php _e("Import WebBookers",'arez');?>
									</a>
									<br/>
								</div>
							</div>
						<?php	
						}else{
							$webbookers = get_posts( array( 'post_type'=>'webBooker', 'numberposts'=>-1, 'post_status'=>'publish' ) );
							if( !empty($webbookers) ){
							?>
								<div id="webbookers" class="postbox">
									<h3>
										<span><?php _e("WebBookers",'arez');?></span>
									</h3>
									<div class="inside">
										<table class="widefat">
											<thead>
												<tr>
													<th><?php _e("ID",'arez');?></th>
													<th><?php _e("Name",'arez');?></th>
													<th><?php _e("Status",'arez');?></th>
													<th><?php _e("Actions",'arez');?></th>
												</tr>
											</thead>
											<tfoot>
												<tr>
													<th><?php _e("ID",'arez');?></th>
													<th><?php _e("Name",'arez');?></th>
													<th><?php _e("Status",'arez');?></th>
													<th><?php _e("Actions",'arez');?></th>
												</tr>
											</tfoot>
											<tbody>
												<?php
													
													foreach($webbookers as $wb){
														$meta = get_post_meta( $wb->ID );
														$webbooker_id = 0;
														if(isset($meta['webBookerID'])){
															$webbooker_id = $meta['webBookerID'][0];
														}
												?>
													   <tr>
														 <td><?php echo $webbooker_id; ?></td>
														 <td>
															<a href="post.php?post=<?php echo $wb->ID;?>&action=edit"><?php echo $wb->post_title; ?></a>
														</td>
														 <td><?php echo $wb->post_status; ?></td>
														 <td>
															<a class="button secondary-button" href="options-general.php?page=arez_plugin&translate[]=<?php echo $webbooker_id;?>">
																<?php _e("Fetch Translations",'arez');?>
															</a>
														 </td>
													   </tr>
											   <?php
													}
												?>
											</tbody>
										</table>
										<br/>
										<a class="button button-primary" href="options-general.php?page=arez_plugin&a=update">
											<?php _e("Update WebBookers",'arez');?>
										</a>
										<br/>
										<br/>
									</div>
								</div>
					<?php
							}
						}
					}
					?>
					</form>
			</div>
	</div>


function log_out(){
	if( isset( $_REQUEST['arez_logout'] ) ){
		unset($nonce);
		if(!headers_sent()) setcookie ("ACTIVITYREZ", "", time() - 3600);
	}
}



// Draw the option page
function arez_plugin_option_page() {
	//error_log('page loaded');
	$options = get_option( 'arez_plugin' );
	global $nonce,$flashError;
	$_webbookers = array();

	remoteAuth();
 


	if( !isset( $options['api_key'] ) ){
		//need the api key, go get it

		$arezApi = ActivityRezAPI::instance();
		$apiKey = $arezApi->fetchApiKey();
		
		if( isset($apiKey['status']) && $apiKey['status'] == 1 ){
			$options['api_key'] = $apiKey['api_key'];
			update_option( 'arez_plugin', $options);
		}else{
			$flashError = __("Can't lookup agency API Key, Please contact Support",'arez');
		}
	}

	if( isset( $_REQUEST['translate'] ) && is_array( $_REQUEST['translate'] ) && !empty( $_REQUEST['translate'] ) ){
		if( !isset($flashError) || !$flashError){
			arez_get_translationFiles( $_REQUEST['translate'] );
		}
	}
	if( isset( $_REQUEST['a'] ) && $_REQUEST['a'] === 'import' ){
		//TODO import your webbookers
		if( !isset($flashError) || !$flashError){
			$arezApi = ActivityRezAPI::instance();
			$ResultString = $arezApi->importWebbookers();
			
			if( isset($ResultString['status']) && $ResultString['status'] == '1' ){
				//Store the wb list and prompt the user wich ones they want to import
				$_webbookers = $ResultString['webBookers'];
				update_option('arez_webbooker_import',json_encode($_webbookers) );
			}else{
				$flashError = __("Failed to import webbookers:",'arez'). print_r($ResultString,1) . AREZ_SERVER . "nonce: {$nonce}".print_r($nonceData,1);
			}
		}
	}else if(isset( $_REQUEST['a'] ) && $_REQUEST['a'] === 'import_finish' && isset($_REQUEST['wbID']) && is_array($_REQUEST['wbID']) && !empty($_REQUEST['wbID']) ){
	//finish import job based off user selection
		$_webbookers = json_decode(get_option( 'arez_webbooker_import' ),1);
		$wbImportCount = 0;
		foreach( $_webbookers as $wb ){
			if($wb['post_status'] != 'publish') continue;
			if( !in_array($wb['ID'],$_REQUEST['wbID']) ) continue;
			$webbookers = get_posts( array( 'post_type'=>'webBooker', 'numberposts'=>-1, 'meta_key'=>'webBookerID','meta_value'=>$wb['ID'] ) );
			if( !$webbookers || empty($webbookers)){
				$post = array('post_status'=>'publish','post_title'=>$wb['post_title'],'post_type'=>'webBooker');
				$post_id = wp_insert_post($post);
				update_post_meta($post_id,'webBookerID',$wb['ID']);
				update_post_meta($post_id,'include_header',1);
				update_post_meta($post_id,'include_footer',1);
				$wbImportCount++;
			}else{
				//already been imported, skip this
				continue;
			}
		}
		delete_option('arez_webbooker_import');
		$flashError = arez_update_webbookers();
		$flashError .= sprintf(__("Successfully imported %s new Web Bookers",'arez'),$wbImportCount);

	}else if( isset( $_REQUEST['a'] ) && $_REQUEST['a'] === 'update' ){
		global $nonce,$flashError;
		if( !isset($flashError) || !$flashError){
			$flashError = arez_update_webbookers();
			$flashError .= __("Successfully update all Web Bookers",'arez');
		}
	}



}
