/* Menu */
#toplevel_page_arez {}

#toplevel_page_arez.opensub div.wp-menu-image,
	#toplevel_page_arez .wp-has-current-submenu div.wp-menu-image,
	#toplevel_page_arez.current div.wp-menu-image
	{ 
		background: transparent url(../../../assets/activityrez_icon.png) no-repeat scroll;
	}
#toplevel_page_arez div.wp-menu-image 
	{
		background:transparent url(../../../assets/activityrez_icon_grey.png) no-repeat scroll;
	}
ul#adminmenu #toplevel_page_arez a.wp-has-current-submenu:after, ul#adminmenu>li#toplevel_page_arez.current>a.current:after { border-right-color: #81a844;}


/* ---RESET -- */


// Sets box-sizing default to border-box on all elements
*,
*:before,
*:after {
	box-sizing: border-box; }

// (highlight color, text color)
::selection {
	background: #91bd51;
	color: #fff;
	text-shadow: none;
}
#wpfooter {
	display: none;
}

/* ---Dashboard -- */

#wpbody-content {
	padding-bottom: 0;
}
#wpcontent {
	margin-left: 160px;
	padding: 0;
}

ul#adminmenu a.toplevel_page_jetpack:after {
	border-right-color: #81a844;
}

.folded #wpcontent {
	margin-left: 36px;
}
#wpfooter {
	display: none;
}

.arez-content {
	background: #81a844;
	margin: 0;
	height: auto;
	min-height: 100%;
	width: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	background: #f9f9f9;
}

.masthead {
	position: relative;
	text-align: center;
	z-index: 1;
	background-color: #81a844;
	background-image: linear-gradient(top, #81a844, #699722);
}

.masthead .subhead {
	margin-top: 25px;
}

.masthead h1,
.masthead h2 {
	margin: 0 auto;
}

.masthead h1 {
		padding: 3.5em 0 1.11111em;
		margin-bottom: 30px;
		max-width: em(790px, 36px);
		color: #fff;
		position: relative;
		text-shadow: 0 1px 1px rgba(0,0,0,.12);
		z-index: 3;
}

.activities_page_arez-settings .masthead h1 {
		padding: 20px 0 0 0;
		margin-bottom: 10px;
}

.masthead .cta {
	display: block;
	margin: 0px auto 100px auto;
	width: 200px;
	font-size: 18px;
	padding: 20px;
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}




// Sets box-sizing default to border-box on all elements
*,
*:before,
*:after {
	box-sizing: border-box;
}

// (highlight color, text color)
::selection {
	background: #91bd51;
	color: #fff;
	text-shadow: none;
}


.header {
	left: 0;
	right: 0;
}


.activityrez-logo {
	padding: 10px 0 0 20px;
}
.main-nav li {
	margin: 0; font-size: 13px;
}

.subhead {
	position: relative;
	margin-top: 105px;
	z-index: 2;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 228px;
	background: url('../../../assets/images/the-cloud.svg') center bottom repeat-x;
}

.subhead h2 {
	max-width: 460px;
	color: #f1f1f1;
	font: 400 1.5714285714em/1.4em $proxima; // 22/14
	text-shadow: 0 1px 1px #fff;
}

.subhead h2 a {
	cursor: pointer;
	color: #fff;
}


/* ---------- LOGIN ---------- */
#step1 #login {
	width: 330px;
	margin: auto;
}

#login fieldset input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0px;
	margin: 0px;
	-webkit-appearance: none;
}

#login p {
	line-height: 1.5em;
}

#login .clearfix {
	*zoom: 1;
}
#login .clearfix:before, #login .clearfix:after {
	content: ' ';
	display: table;
}
#login .clearfix:after {
  clear: both;
}

#step1 #login form fieldset span {
	background-color: #f1f1f1;
	border-radius: 3px 0px 0px 3px;
	color: #c0c0c0;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 100px;
}

#step1 #login form fieldset input {
	height: 50px;
}

#step1 #login form fieldset input[type="text"], #step1 #login input[type="password"] {
	background-color: #f1f1f1;
	border-radius: 0px 3px 3px 0px;
	color: #606468;
	margin-bottom: 1em;
	padding: 5px 16px;
	width: 230px;
}

#step1 #login form fieldset input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #428bca;
	color: #f1f1f1;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	width: 280px;
	cursor:pointer;
}

#step1 #login form fieldset input[type="submit"]:hover {
	color: #fff;
}

#step1 #login > p {
	text-align: center;
}

#step1 #login > p span {
	padding-left: 5px;
}

.unlink { float: right; margin-right: 30px;}
.white { color: #fff; line-height: 20px;}
.white a { text-decoration: none; color: #fff; }

/* ----- */

.postbox { padding: 20px;}

.arez-content .btn {
	display: block;
	width: 200px;
	margin: 10px auto 20px auto !important;
	padding: 10px !important;
	border-radius: 3px;
	border: 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #dadada;
	color: #c0c0c0;
	font-weight: bold;
	text-transform: uppercase;
	cursor:pointer;
	height: auto !important;
	text-decoration: none
}

.arez-content .btn-primary {
	background-color: #428bca;
	color: #f1f1f1;
}

.arez-content .alertbox {
	display: block;
	color: #555;
	border-radius:10px;
	padding:10px 10px 10px 36px;
	margin:10px auto !important;
	width: 60% !important;
}

.arez-content .error {
	background:#ffecec url('../../../assets/images/error.png') no-repeat 10px 50% !important;
	border:1px solid #f5aca6;
}
.arez-content .success {
	background:#e9ffd9 url('../../../assets/images/success.png') no-repeat 10px 50% !important;
	border:1px solid #a6ca8a;
}
.arez-content .warning {
	background:#fff8c4 url('../../../assets/images/warning.png') no-repeat 10px 50% !important;
	border:1px solid #f2c779;
}
.arez-content .notice {
	background:#e3f7fc url('../../../assets/images/notice.png') no-repeat 10px 50% !important;
	border:1px solid #8ed9f6;
}



#webbookers { 
	margin: 0px auto 20px auto;
}




/* Switch */
.onofflabel { 
	float: left;
	color: #fff;
	font-size: 18px;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 24px;
}

.onoffswitch {
	float: left;
	position: relative; width: 151px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none !important;
}
.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 1px solid #fff; border-radius: 50px;
}
.onoffswitch-inner {
	display: block; width: 200%; margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block; float: left; width: 50%; height: 24px !important; padding: 0; line-height: 24px !important;
	font-size: 18px; color: white; font-family: Trebuchet, Arial, sans-serif; 
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
	content: "Production";
	padding-left: 12px;
	text-align: left;
	background-color: #81A844; color: #FFFFFF;
}
.onoffswitch-inner:after {
	content: "Training";
	padding-right: 12px;
	background-color: #EEEEEE; color: #999999;
	text-align: right;
}
.onoffswitch-switch {
	display: block; width: 31px; margin: -3.5px;
	background: #FFFFFF;
	border: 1px solid #999999; border-radius: 50px;
	position: absolute; top: 0; bottom: 0; right: 123px;
	-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px; 
}